/* Your CSS here */
html, body, div, span {
    touch-action: none
}
.enyo-toolbar-light {
    min-height: 46px;
    background-color: transparent !important;
}
.enyo-retrofit-grabbutton {
    width: 46px;
    height: 46px;
    background-image: url(../.enyo/build/palm/themes/Onyx/images/grabbutton.png);
    background-size: 46px 54px;
}